@page
@model UI.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CustomerBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CustomerStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
